@import "tailwindcss";
:root{
  --btn-del-text: #F80036;
  --btn-del-bg: #F93C65;
  --btn-edit-text:#00B69B;
  --btn-edit-bg: #00B69B;
  --hover-btn: #199FB1;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .custom-shape-divider-bottom-1746019633 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1746019633 svg {
    position: relative;
    display: block;
    width: calc(152% + 1.3px);
    height: 484px;
}

.custom-shape-divider-bottom-1746019633 .shape-fill {
    fill: #fff;
}